/* common styles start */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* common styles end */

/* header style start here */
.header {
    background-color: #FFF8F3;
}
/* nav styles start here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li>a {
    text-decoration: none;
    color: #474747;
}

/* nav style end here */

/* banner start here */
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    height: 600px;
    width: 500px;
}
/* header style end here*/
